.gym-about {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    margin-top: 120px;
    justify-content: space-between;
    @media only screen and (max-width: 700px) {
        flex-direction: column;
    }
    h3 {
        font-size: 48px;
    }

    p {
        margin-top: 25px;

        br {
            margin-top: 30px;
        }
    }

    &__content {
        width: 40%;
        @media only screen and (max-width: 700px) {
            width: 100%;
        }
    }

    &__gallery {
        width: 50%;
        text-align: end;
        @media only screen and (max-width: 700px) {
            width: 100%;
        }
    }

    &__images_item {
        width: 100%;
        display: none;
        animation-name: fade;
        animation-duration: 1.5s;

        &--active {
            display: block;
        }

        @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
    }

    &__span_nav {
        display: flex;
        gap: 10px;          
    }

    &__item_nav {
        display: block;
        text-decoration: none;
        width: 30px;
        height: 2px;
        background-color: aliceblue;
        border-radius: 10px;
        cursor: pointer;

        &--active {
            background-color: #FAFF00;
        }
    }
}

