.navbar {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    img {
        height: fit-content;
    }

    &__mobile-menu {
        display: none;
    }
}

.nav-menu-mobile {
    display: none;
}

.nav-menu {
    display: flex;
    gap: 80px;
}

@media only screen and (max-width: 700px) {
    .nav-menu {
        display: none;
    }

    .navbar__mobile-menu,
    .navbar__mobile-menu::before,
    .navbar__mobile-menu::after {
        display: block;
        position: absolute;
        top: 30px;
        right: 20px;
        width: 35px;
        height: 3px;
        background-color: #ffffff;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .navbar__mobile-menu::before {
        content: "";
        top: 10px;
        right: 0;
    }
    .navbar__mobile-menu::after {
        content: "";
        top: 20px;
        right: 0;
    }

    .nav-menu-mobile {
        display: none;
        position: absolute; 
        top: 0;
        left: 0;
        background-color: #000000;
        flex-direction: column;
        padding: 20px;
        gap: 0;
        width: 100%;
        li {
            margin-bottom: 20px;
        }
    }

    .nav-is-open::before {
        transform: rotate(405deg);
    }
    .nav-is-open::after {
        transform: rotate(-405deg);
    }
}